In [32]:
import matplotlib
import numpy as np
import polars as pl
import matplotlib.pylab as plt
import seaborn as sns
import pandas as pd
plt.style.use('fivethirtyeight')

In [33]:
dataset_path = '/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/dataset_1.csv'
dataset = pd.read_csv(dataset_path)
dataset.head()

,Unnamed: 0.1,Unnamed: 0,0,1,2,3,4,5,6,7,...,9,10,11,12,13,14,15,16,17,18
0,0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
1,1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,19-03-2022,...,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000
2,3,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,25-03-2022,...,19:50,Stormy,Jam,2,Snack,scooter,1.000000,No,Metropolitian,33.000000
3,4,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,19-03-2022,...,13:55,Windy,High,0,Buffet,motorcycle,2.000000,No,Metropolitian,42.000000
4,5,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,07-03-2022,...,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,No,Urban,19.000000

In [34]:
sample_submission_path = '/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/raw/dataset/sample_submission.csv'
sample_submission = pl.read_csv(sample_submission_path)
sample_submission

shape: (5, 2)
┌────────┬──────────────────┐
│ ID     ┆ Time_taken (min) │
│ ---    ┆ ---              │
│ str    ┆ f64              │
╞════════╪══════════════════╡
│ 0x7faf ┆ 25.0             │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0x4607 ┆ 24.0             │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0xb379 ┆ 33.0             │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0x7804 ┆ 19.0             │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0x20f7 ┆ 42.0             │
└────────┴──────────────────┘

In [35]:
dataset.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7',
       '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18'],
      dtype='object')

In [36]:
dataset.shape

(2443, 21)

In [37]:
dataset = dataset.drop(['Unnamed: 0.1'],axis=1)

In [38]:
dataset

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,No,Metropolitian,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,19-03-2022,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,No,Metropolitian,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,07-03-2022,10:60,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,No,Urban,19.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,0xcafe_y,ALHRES13DEL02,32.000000,4.800000,25.451646,81.832796,25.581646,81.962796,18-02-2022,22:15,22:25,Stormy,Low,2,Buffet,scooter,1.000000,No,NaN,29.000000
2439,0x8c03_y,COIMBRES09DEL01,34.000000,5.000000,11.008638,76.984311,11.078638,77.054311,04-04-2022,18:30,18:45,Sandstorms,Medium,1,Buffet,motorcycle,1.000000,No,Urban,22.000000
2440,0xceec_y,KNPRES04DEL03,37.000000,4.600000,26.471529,80.313458,26.501529,80.343458,11-02-2022,17:50,17:60,Fog,Medium,0,Buffet,motorcycle,1.000000,No,Metropolitian,28.000000
2441,0x38c6_x,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
2442,0xdf0d,DEHRES18DEL03,26.00,4.90,0.00,0.00,0.03,0.03,15-02-2022,20:60,21:05,Windy,Jam,0,Meal,motorcycle,0.00,No,Metropolitian,36.00

In [39]:
from sklearn.preprocessing import LabelEncoder,LabelBinarizer

In [40]:
dataset = dataset.drop(['7'],axis = 1)

In [41]:
dataset.head()

,Unnamed: 0,0,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18
0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,No,Metropolitian,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,No,Metropolitian,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,10:60,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,No,Urban,19.000000

In [42]:
is_festival = dataset['16']

In [43]:
is_festival = LabelEncoder().fit_transform(is_festival)

In [44]:
dataset['16'] = is_festival

In [45]:
dataset.head()

,Unnamed: 0,0,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18
0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,0,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,1,Urban,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,1,Metropolitian,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,1,Metropolitian,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,10:60,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,1,Urban,19.000000

In [46]:
dataset.columns = dataset.iloc[0]

In [47]:
dataset.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,0,City,Time_taken(min)
0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,0,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,1,Urban,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,1,Metropolitian,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,1,Metropolitian,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,10:60,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,1,Urban,19.000000

In [48]:
dataset = dataset.drop(dataset.index[0])

In [49]:
dataset.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,0,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,1,Urban,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,1,Metropolitian,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,1,Metropolitian,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,10:60,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,1,Urban,19.000000
5,0x7faf_x,RANCHIRES07DEL01,37.000000,4.600000,23.359407,85.325055,23.429407,85.395055,23:50,23:60,Stormy,Low,0,Meal,motorcycle,1.000000,1,Metropolitian,25.000000

In [50]:
print(dataset.columns)

Index([                         'ID',          'Delivery_person_ID',
               'Delivery_person_Age',     'Delivery_person_Ratings',
               'Restaurant_latitude',        'Restaurant_longitude',
        'Delivery_location_latitude', 'Delivery_location_longitude',
                       'Time_Orderd',           'Time_Order_picked',
                 'Weatherconditions',        'Road_traffic_density',
                 'Vehicle_condition',               'Type_of_order',
                   'Type_of_vehicle',         'multiple_deliveries',
                                   0,                        'City',
                   'Time_taken(min)'],
      dtype='object', name=0)

In [52]:
names = [                         'ID',          'Delivery_person_ID',
               'Delivery_person_Age',     'Delivery_person_Ratings',
               'Restaurant_latitude',        'Restaurant_longitude',
        'Delivery_location_latitude', 'Delivery_location_longitude',
                       'Time_Orderd',           'Time_Order_picked',
                 'Weatherconditions',        'Road_traffic_density',
                 'Vehicle_condition',               'Type_of_order',
                   'Type_of_vehicle',         'multiple_deliveries',
                          'Festival',                        'City',
                   'Time_taken(min)'],

In [53]:
dataset.set_axis([                         'ID',          'Delivery_person_ID',
               'Delivery_person_Age',     'Delivery_person_Ratings',
               'Restaurant_latitude',        'Restaurant_longitude',
        'Delivery_location_latitude', 'Delivery_location_longitude',
                       'Time_Orderd',           'Time_Order_picked',
                 'Weatherconditions',        'Road_traffic_density',
                 'Vehicle_condition',               'Type_of_order',
                   'Type_of_vehicle',         'multiple_deliveries',
                          'Festival',                        'City',
                   'Time_taken(min)'],axis = 'columns',inplace=True)

In [54]:
dataset.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,1,Urban,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,1,Metropolitian,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,1,Metropolitian,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,10:60,11:15,Sandstorms,Low,1,Meal,scooter,1.000000,1,Urban,19.000000
5,0x7faf_x,RANCHIRES07DEL01,37.000000,4.600000,23.359407,85.325055,23.429407,85.395055,23:50,23:60,Stormy,Low,0,Meal,motorcycle,1.000000,1,Metropolitian,25.000000

In [57]:
dataset['Weatherconditions']= LabelEncoder().fit_transform(dataset['Weatherconditions'])

In [59]:
dataset['Type_of_order']= LabelEncoder().fit_transform(dataset['Type_of_order'])
dataset['Road_traffic_density']= LabelEncoder().fit_transform(dataset['Road_traffic_density'])
dataset['City']= LabelEncoder().fit_transform(dataset['City'])
dataset['Type_of_vehicle']= LabelEncoder().fit_transform(dataset['Type_of_vehicle'])

In [60]:
dataset.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
1,0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,11:30,11:45,4,0,2,3,2,0.000000,1,2,24.000000
2,0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,19:45,19:50,3,1,2,3,3,1.000000,1,0,33.000000
3,0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,13:50,13:55,5,0,0,0,2,2.000000,1,0,42.000000
4,0x7804_x,HYDRES13DEL02,28.000000,4.900000,17.431477,78.400350,17.451477,78.420350,10:60,11:15,2,2,1,2,3,1.000000,1,2,19.000000
5,0x7faf_x,RANCHIRES07DEL01,37.000000,4.600000,23.359407,85.325055,23.429407,85.395055,23:50,23:60,3,2,0,2,2,1.000000,1,0,25.000000